@model lab5site.Models.HomeViewModel

<div>
    <h1>@Model.WelcomeMessage</h1>
</div>

<a href="@Url.Action("Index", "Registration")">Зарегистрироваться</a>
<ul>
    <li>Лабораторна 1: У міському зоопарку містяться тварини різних видів. Для участі у міжнародній виставці «Три тварюки» зоопарк має представити трьох тварин різних видів.
Потрібно написати програму, яка обчислить кількість способів вибрати трьох тварин для участі у виставці.
Наприклад, якщо у зоопарку два ведмеді, тигр, лев та пінгвін, тобто сім способів обрати трьох тварин:
перший ведмідь, тигр та лев;
перший ведмідь, тигр та пінгвін;
перший ведмідь, лев та пінгвін;
другий ведмідь, тигр та лев;
другий ведмідь, тигр та пінгвін;
другий ведмідь, лев та пінгвін;
тигр, лев та пінгвін.
Вхідні дані
Вхідний текстовий файл INPUT.TXT містить у першому рядку натуральне число n – кількість видів тварин у міському зоопарку (1 ≤ n ≤ 1000). У другому рядку через пропуск записані n натуральних чисел – кількість тварин відповідного виду. Число тварин кожного виду не перевищує 1000.
</li>
    <li>Лабораторна 2: Дана числова послідовність, потрібно знайти довжину найбільшої підпослідовності, що зростає.
У першому рядку вхідного файлу INPUT.TXT записано число N - довжина послідовності (1 ≤ N ≤ 1000). У другому рядку записана сама послідовність (через пропуск). Числа послідовності - цілі числа, що не перевищують 10000 по модулю.
</li>
    <li>Лабораторна 3: На бенкет було запрошено N Дуже Важливих Персон (ОВП). Було поставлено 2 столи. Столи досить великі, щоб усі відвідувачі банкету могли сісти за будь-який із них. Проблема полягає в тому, що деякі ОВП не ладнають один з одним і не можуть сидіти за одним столом. Вас попросили визначити, чи можна всіх ОВП розсадити за двома столами.
Вхідні дані
У першому рядку вхідного файлу INPUT.TXT дано два цілих числа: N і M (0 ≤ N, M ≤ 100), де N – кількість ОВП, а M – кількість пар ОВП, які не можуть сидіти за одним столом. У наступних M рядках записано по 2 числа – пари ОВП, які не можуть сидіти за одним столом.
</li>
</ul>

